$color-jabooda-blue: #01427c;

#backToBackImg {
    display: block;
    margin: 0px auto;
}

#theTeam {
    text-align: center;

    #aboutBanner {
        height: 70px;
        margin-right: -250px;

        position: relative;
        top: -26px;
        left: -115px;
        background-color: $color-jabooda-blue;
        color: white;

        h1 {
            position: relative;
            top: 10px;
            font-size: 38px;
        }
    }

    ul {
        padding: 0;
        list-style-type: none;
        li {
            margin: 0px 20px;
        }
    }
}