$color-jabooda-blue: #01427c;

.careerModal {
    text-align: center;
    width: 900px !important;
    height: 80% !important;
    overflow-y: scroll;

    // AM - put media query in here to adjust the width 

    #exitModal {
        position: relative;
        margin: auto;
        left: 50%;
        top: -20px;
        text-align: right;
        transition: .5s ease;

        &:hover {
            transition: .5s ease;
            color: $color-jabooda-blue;
        }
    }

    form {
        text-align: left;
        margin: 0px auto;
        width: 600px;

        textarea {
            resize: none;
        }
    }
}