$color-jabooda-blue: #01427c;
$color-jabooda-blue-2: #1363a8;
$color-jabooda-gray: #9e9e9e;
$color-black: #0C0C0C;
$color-white-background: #f1f4f9;

// Slideshow
#slideshowContents {
    position: absolute;
    width: 100%;
    top: 140px;

    .wrapper {
        text-align: center;
    
        #homeLogo {
            height: 120px;
            width: 750px;
        }

        @media only screen and (max-width: 790px) {
            #homeLogo {
                height: 100%;
                width: 100%;
            }
        }

        hr {
            width: 60%;
        }

        .buttonContainer {
            a {
                width: 100px;
                text-align: center;
                margin: 0px 20px;
                border-radius: 8px;
                background-color: $color-jabooda-blue;
                color: $color-white-background;
            }
        }
    }
}

// 'Sold Projects', 'For Sale' and 'In Progress' boxes
.boxContainer {
    .MuiGrid-spacing-xs-24-54 > .MuiGrid-item-31 {
        transition: .5s ease;
        padding: 0px;
        text-align: center;
        position: relative;

        color: $color-jabooda-gray;

        .paper-container {
            position: relative;
            top: 100px;

            h1 {
                margin: 0;
                position: relative;
                top: 20px;
            }

            hr {
                position: relative;
                top: 30px;
                margin: 0;
                width: 50px;
                height: 3px;
                border: none; 
                background-color: $color-jabooda-gray; 
                margin: 0px auto;     
                transition: .5s ease;
            }

            .footerText {
                position: relative;
                top: 40px;
                text-align: center;
                bottom: 10px;
            }
        }
    }

    // Hovering over will turn text black
    .MuiGrid-spacing-xs-24-54 > .MuiGrid-item-31:hover {
        transition: .5s ease;
        color: $color-black;

        hr {
            transition: .5s ease;
            background-color: $color-black;
        }
    }

    .MuiPaper-root-127 {
        background-color: $color-jabooda-blue;
        height: 400px;
    }

    .MuiGrid-item-31:nth-child(2) .MuiPaper-root-127 {
        background-color: $color-jabooda-blue-2;
    }
}

// About, hiring sections...
.pageContent .Container {
    padding: 50px 0px;

    hr {
        position: static;
        margin: 0;
        width: 50px;
        height: 3px;
        border: none;
        background-color: $color-jabooda-blue;
    }

}

// Subcontracting
#bidContainer {
    text-align: center;
    height: 300px;
    background-color: black;
    overflow-y: hidden;
    z-index:-10;

    hr {
        width: 60%;
    }

    #bidOnProjects {
        position: relative;
        top: -300px;
        height: 100vh;
        background-image: url("../images/house4.jpg");
        background-size: cover;
        background-position: 0% 30%;
        opacity: 0.3;
    }
}

#bidText {
    color: white;
    z-index: 1000;

    .MuiButtonBase-root-27 {
        z-index: 1000;
    }

    .buttonContainer {
        a {
            width: 150px;
            text-align: center;
            margin: 0px 20px;
            border-radius: 8px;
        }
    }
}

#careersLink {
    background-color: $color-jabooda-blue;
    color: $color-white-background;
    position: relative;
    top: -140px;
}