.projectsComponent {
    // outline: none;
    margin: 20px;
    // padding: 0px 20px;

    #mainImage {
        text-align: center;
        // width: 100%;
        max-height: 800px;
    }
}

#subImageContainer {
    width: 100%;
    overflow-x: scroll;

    #allSubImages {
        white-space: nowrap;
        height: 80px;

        li {
            display: inline;
            padding: 0;
            position: relative;
            left: -42px;
            margin: 0px 5px;
        }
    }
}