.pageBannerContainer {
    background-color: black;
    height: 250px;
    width: 100%;
    overflow: hidden;

    margin-bottom: 40px;

    h1 {
        position: absolute;
        margin: 80px;
        left: 30px;
        font-size: 54px;
        z-index: 10;
        color: white;
    }

    img {
        opacity: 0.3;
    }
}